:root {
  --white: #ffffff;
  --navbar: #31274e;
  --card-body: #392d58;
  --background: #211a35;
  --buttons: #00ffba;
  --buttons-text: #175855;
  --text: #8658d2;
  --blue: #0d6efd;
  --black: #000000;
}
